In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

**Ejercicios Unión de Datos**

In [27]:
df_worl2 = pd.read_csv('files/world-data-2023_part2.csv', index_col=0)
df_worl2.head()

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [28]:
df_worl1 = pd.read_csv('files/world-data-2023_part1.csv', index_col=0)
df_worl1.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97

In [29]:
list(df_worl1.columns)

['Country',
 'Density\n(P/Km2)',
 'Abbreviation',
 'Agricultural Land( %)',
 'Land Area(Km2)',
 'Armed Forces size',
 'Birth Rate',
 'Calling Code',
 'Capital/Major City',
 'Co2-Emissions',
 'CPI',
 'CPI Change (%)',
 'Currency-Code',
 'Fertility Rate',
 'Forested Area (%)',
 'Gasoline Price']

In [30]:
list(df_worl2.columns)

['GDP',
 'Gross primary education enrollment (%)',
 'Gross tertiary education enrollment (%)',
 'Infant mortality',
 'Largest city',
 'Life expectancy',
 'Maternal mortality ratio',
 'Minimum wage',
 'Official language',
 'Out of pocket health expenditure',
 'Physicians per thousand',
 'Population',
 'Population: Labor force participation (%)',
 'Tax revenue (%)',
 'Total tax rate',
 'Unemployment rate',
 'Urban_population',
 'country',
 'coordinates']

In [31]:
df_worl1['Country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: Country, Length: 195, dtype: object

In [32]:
df_worl2['country']

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: country, Length: 195, dtype: object

In [33]:
#Unir los DataFrames

df_union = df_worl1.merge(df_worl2, how='inner', left_on='Country', right_on='country')
df_union

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",Venezuela,"('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",Vietnam,"('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",Yemen,"('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",Zambia,"('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",Zimbabwe,"('-19.015438 ', '29.154857')"

Hemos elegido la opción de merge 'inner', por que queríamos combinar los DataFrames por su clave en común por columna, conservando sus datos.

**Ejercicios de Limpieza**

1- Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [34]:
df_union.drop(['country'], axis=1, inplace=True)

In [35]:
df_union.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

2- Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:   
    - No tengan espacios.   
    - Estén en minúscula.   
    - No tengan paréntesis, es decir, quitar "(%)", "(Km2)".   
    - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.   
    - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [36]:
#Que no tengan espacios y esté en minúsculas

col_nuevas = {col : col.lower().replace(' ', '_') for col in df_union.columns}
df_union.rename(columns= col_nuevas, inplace= True)

In [47]:
#Quitar paréntesis

col_parentesis = {col : col.replace('(_%)', '').replace('(%)', '').replace('(p/km2)', '').replace('(km2)', '') for col in df_union.columns}
df_union.rename(columns= col_parentesis, inplace= True)

In [42]:
#Eliminar \n

col_n = {col : col.replace('\n', '') for col in df_union.columns}
df_union.rename(columns= col_n, inplace= True)

In [43]:
#Eliminar :

col_puntos = {col : col.replace(':', '') for col in df_union.columns}
df_union.rename(columns= col_puntos, inplace= True)

In [48]:
list(df_union.columns)

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change_',
 'currency-code',
 'fertility_rate',
 'forested_area_',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment_',
 'gross_tertiary_education_enrollment_',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation_',
 'tax_revenue_',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'coordinates']

3- La columnas coordinates tiene la latitud y la longitud en una sola columna. Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [49]:
df_union['coordinates']

0        ('33.93911 ', '67.709953')
1       ('41.153332 ', '20.168331')
2        ('28.033886 ', '1.659626')
3        ('42.506285 ', '1.521801')
4      ('-11.202692 ', '17.873887')
                   ...
190       ('6.42375 ', '-66.58973')
191    ('14.058324 ', '108.277199')
192     ('15.552727 ', '48.516388')
193    ('-13.133897 ', '27.849332')
194    ('-19.015438 ', '29.154857')
Name: coordinates, Length: 195, dtype: object

In [50]:
df_union[['latitude', 'longitude']] = df_union['coordinates'].str.split(', ', n=1, expand=True)

In [51]:
df_union.drop(['coordinates'], axis=1, inplace=True)

In [53]:
df_union['latitude'] = df_union['latitude'].str.replace("'", "").str.replace(",", "").str.replace("(", "").str.replace(")", "").astype(float)


df_union['longitude'] = df_union['longitude'].str.replace("'", "").str.replace(",", "").str.replace("(", "").str.replace(")", "").astype(float)

/tmp/ipykernel_7029/1764389491.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_union['latitude'] = df_union['latitude'].str.replace("'", "").str.replace(",", "").str.replace("(", "").str.replace(")", "").astype(float)
/tmp/ipykernel_7029/1764389491.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_union['longitude'] = df_union['longitude'].str.replace("'", "").str.replace(",", "").str.replace("(", "").str.replace(")", "").astype(float)

In [54]:
df_union.head(1)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.93911,67.709953

4- Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [59]:
list(df_union.columns)

['country',
 'density',
 'abbreviation',
 'agricultural_land',
 'land_area',
 'armed_forces_size',
 'birth_rate',
 'calling_code',
 'capital/major_city',
 'co2-emissions',
 'cpi',
 'cpi_change_',
 'currency-code',
 'fertility_rate',
 'forested_area_',
 'gasoline_price',
 'gdp',
 'gross_primary_education_enrollment_',
 'gross_tertiary_education_enrollment_',
 'infant_mortality',
 'largest_city',
 'life_expectancy',
 'maternal_mortality_ratio',
 'minimum_wage',
 'official_language',
 'out_of_pocket_health_expenditure',
 'physicians_per_thousand',
 'population',
 'population_labor_force_participation_',
 'tax_revenue_',
 'total_tax_rate',
 'unemployment_rate',
 'urban_population',
 'latitude',
 'longitude']

In [60]:
columns_limpiar = ['unemployment_rate', 'total_tax_rate', 'out_of_pocket_health_expenditure','agricultural_land', 'cpi_change_', 'forested_area_', 'gross_primary_education_enrollment_', 'gross_tertiary_education_enrollment_', 'population_labor_force_participation_', 'tax_revenue_']

In [61]:
for col in columns_limpiar:
    df_union[col] = df_union[col].str.replace('%', '')

In [62]:
df_union

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,$0.70,"$19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,$1.36,"$15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,$0.28,"$169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,$1.51,"$3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,$0.97,"$94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,$0.00,"$482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,$0.80,"$261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,$0.92,"$26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,$1.40,"$23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,$0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,$1.34,"$21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",-19.015438,29.154857

5- Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [63]:
columnas_dolar = ['gasoline_price', 'gdp', 'minimum_wage']

for col in columnas_dolar:
    df_union[col] = df_union[col].str.replace('$', '')

/tmp/ipykernel_7029/845254630.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df_union[col] = df_union[col].str.replace('$', '')

In [64]:
df_union

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_,currency-code,fertility_rate,forested_area_,gasoline_price,gdp,gross_primary_education_enrollment_,gross_tertiary_education_enrollment_,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_,tax_revenue_,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.10,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30,AFN,4.47,2.10,0.70,"19,101,353,833",104.00,9.70,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40,0.28,"38,041,754",48.90,9.30,71.40,11.12,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40,ALL,1.62,28.10,1.36,"15,278,077,447",107.00,55.00,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90,1.20,"2,854,191",55.70,18.60,36.60,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00,DZD,3.02,0.80,0.28,"169,988,236,398",109.90,51.40,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10,1.72,"43,053,054",41.20,37.20,66.10,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00,1.51,"3,154,057,987",106.40,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10,AOA,5.52,46.30,0.97,"94,635,415,870",113.50,9.30,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40,0.21,"31,825,295",77.50,9.20,49.10,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90,VED,2.27,52.70,0.00,"482,359,318,768",97.20,79.30,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80,1.92,"28,515,829",59.70,NaN,73.30,8.80,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80,VND,2.05,48.10,0.80,"261,921,244,843",110.60,28.50,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50,0.82,"96,462,106",77.40,19.10,37.60,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10,YER,3.79,1.00,0.92,"26,914,402,224",93.60,10.20,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00,0.31,"29,161,922",38.00,NaN,26.60,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20,ZMW,4.63,65.20,1.40,"23,064,722,446",98.70,4.10,40.4,Lusaka,63.5,213.0,0.24,English,27.50,1.19,"17,861,030",74.60,16.20,15.60,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90,NaN,3.62,35.50,1.34,"21,440,758,800",109.90,10.00,33.9,Harare,61.2,458.0,NaN,Shona,25.80,0.21,"14,645,468",83.10,20.70,31.60,4.95,"4,717,305",-19.015438,29.154857

6- Guarda el DataFrame para usarlo en el pairprogramming de mañana.

In [65]:
df_union.to_csv('files/world_data_2023_union.csv')

**Ejercicios de Filtrado**

1- Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [83]:
df_mortalidad = df_union[df_union['infant_mortality'].between(40, 50, inclusive = "both" )]

df_mortalidad[['country', 'infant_mortality']]

          country  infant_mortality
0     Afghanistan              47.9
26   Burkina Faso              49.0
27        Burundi              41.0
47       Djibouti              49.8
72          Haiti              49.5
89       Kiribati              41.2
125         Niger              48.0
166         Sudan              42.1
175          Togo              47.4
192         Yemen              42.9
193        Zambia              40.4

2- Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [84]:
natalidad = df_union['birth_rate'] >= 20
esperanza_vida = df_union['life_expectancy'] > 75

df_natalidad_esperanza = df_union[natalidad & esperanza_vida]

df_natalidad_esperanza[['country', 'birth_rate', 'life_expectancy']]

     country  birth_rate  life_expectancy
2    Algeria       24.28             76.7
74  Honduras       21.60             75.1
82    Israel       20.80             82.8

3- Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [89]:
paises = df_union[df_union['country'].str.contains('la', case=False, na=False)]
paises['country']

4                   Angola
13              Bangladesh
15                 Belarus
59                 Finland
68               Guatemala
76                 Iceland
81     Republic of Ireland
92                    Laos
93                  Latvia
102                 Malawi
103               Malaysia
107       Marshall Islands
122            Netherlands
123            New Zealand
132                  Palau
139                 Poland
159        Solomon Islands
165              Sri Lanka
169            Switzerland
173               Thailand
190              Venezuela
Name: country, dtype: object

In [72]:
ciudades = paises[['capital/major_city', 'country']]
ciudades

    capital/major_city              country
4               Luanda               Angola
13               Dhaka           Bangladesh
15               Minsk              Belarus
59            Helsinki              Finland
68      Guatemala City            Guatemala
76           Reykjav��              Iceland
81              Dublin  Republic of Ireland
92           Vientiane                 Laos
93                Riga               Latvia
102           Lilongwe               Malawi
103       Kuala Lumpur             Malaysia
107             Majuro     Marshall Islands
122          Amsterdam          Netherlands
123         Wellington          New Zealand
132          Ngerulmud                Palau
139             Warsaw               Poland
159            Honiara      Solomon Islands
165            Colombo            Sri Lanka
169               Bern          Switzerland
173            Bangkok             Thailand
190            Caracas            Venezuela

4- Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [75]:
condicion = df_union['physicians_per_thousand'] > 5

medicos = df_union[condicion]

medicos[['country', 'physicians_per_thousand']]

        country  physicians_per_thousand
9       Austria                     5.17
15      Belarus                     5.19
42         Cuba                     8.42
63      Georgia                     7.12
66       Greece                     5.48
99    Lithuania                     6.35
113      Monaco                     6.56
140    Portugal                     5.12
149  San Marino                     6.11
187     Uruguay                     5.05

5- Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [76]:
condicion = df_union['fertility_rate'] > 6

fertilidad = df_union[condicion]

fertilidad[['country', 'fertility_rate']]

     country  fertility_rate
125    Niger            6.91
160  Somalia            6.07

6- Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [90]:
#Paises cuya moneda es el euro

euro = df_union[df_union['currency-code'] == 'EUR']

euro[['country', 'currency-code']]

                 country currency-code
3                Andorra           EUR
9                Austria           EUR
16               Belgium           EUR
43                Cyprus           EUR
55               Estonia           EUR
59               Finland           EUR
60                France           EUR
64               Germany           EUR
66                Greece           EUR
73          Vatican City           EUR
81   Republic of Ireland           EUR
83                 Italy           EUR
93                Latvia           EUR
99             Lithuania           EUR
100           Luxembourg           EUR
106                Malta           EUR
113               Monaco           EUR
115           Montenegro           EUR
140             Portugal           EUR
149           San Marino           EUR
157             Slovakia           EUR
158             Slovenia           EUR
164                Spain           EUR

In [79]:
#Media de la natalidad

natalidad_media = df_union['birth_rate'].mean()
natalidad_media

20.21497354497354

In [80]:
#Tasa de natalidad superior a la media en los paises de la zona euro

paises = euro[euro['birth_rate'] > natalidad_media]

paises[['country', 'birth_rate']]

#no existen paises con una tasa de natalidad superior a la media en los paises de la zona euro

Empty DataFrame
Columns: [country, birth_rate]
Index: []

7- Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.

In [82]:
condicion = df_union['infant_mortality'] > 70

mortalidad = df_union[condicion]

fertilidad[['country', 'infant_mortality']]

     country  infant_mortality
125    Niger              48.0
160  Somalia              76.6