
Ejercicios groupby

¿Cuál es la densidad de población promedio por continente?

¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

¿Cuál es la tasa de mortalidad infantil promedio por moneda?

¿Cuál es el salario mínimo por continente?

¿Cuál es la tasa de impuestos total máxima por densidad de población por continente? Para solucionar este ejercicio puedes:

Primero, necesitas calcular la tasa de impuestos total para cada continente. La tasa de impuestos total se encuentra en la columna "total_tax_rate".

Luego, calcula la densidad de población para cada continente. La densidad de población se encuentra en la columna "density".

Ahora, divide la tasa de impuestos total entre la densidad de población para obtener la tasa de impuestos total por persona por kilómetro cuadrado.

Encuentra el país que tiene el valor más alto en esta nueva columna calculada.

¿Cuál es el porcentaje de población urbana promedio por continente?

¿Cuál es la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio por idioma oficial? Para contestar esta pregunta dabes seguir los siguientes pasos:

Agrupa el DataFrame por idioma oficial y calcula la media del Gasto de Bolsillo en salud (out_of_pocket_health_expenditure) y del GPD.

Calcula la diferencia entre el PIB promedio y el gasto en salud de bolsillo promedio

¿Cuál es la tasa de maternidad promedio por tasa de impuestos total? Para resolver el ejercicio deberás:

Primero, calcula la tasa de maternidad promedio para cada continente. Puedes usar la columna "maternal_mortality_ratio" que representa la tasa de mortalidad materna.

Calcula la tasa de impuestos total promedio para cada continente. Puedes usar la columna "total_tax_rate" que representa la tasa de impuestos total en cada continente.

Luego, divide la tasa de maternidad promedio por la tasa de impuestos total promedio para obtener la relación entre ambas tasas.

Encuentra el país con la tasa de maternidad más alta por punto porcentual de tasa de impuestos total.

Ejercicios bonus groupby:

¿Cuál es la tasa de natalidad máxima por área forestal por continente? Encuentra el país con la tasa de natalidad más alta por cada punto porcentual de área forestal.

¿Cuál es la diferencia entre la tasa de impuestos total y la tasa de desempleo promedio por continente?

In [1]:

import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [11]:
df_world = pd.read_csv('/mnt/c/Users/johan/Desktop/Adalab/modulo-3/pair_programming_sprint1/promog-pair-lauram-alejandra-johanna/files/world_data_2023_union.csv', index_col=0)
df_world.head()

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90%,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10%,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,"94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40%,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",('-11.202692 ','17.873887')

In [14]:
# Ejercicios apply

# Las columnas land_area, armed_forces_size, co2-emissions, gdp, population, urban_population, latitude, longitude, density, cpi son de tipo object pero en realidad deberían ser numéricas. 
# Crea una función que nos permita cambiar el tipo de dato de estas columnas al que le corresponde.

def cambiar_numerico(columna):
    
    try :
          return float(columna.replace(",", "",1).replace(",", "."))
       
    except: 
        return np.nan

In [ ]:
# Limpiar latitude y longitude 
# Revisar titulos / cambiar

In [16]:
lista_columnas = ["land_areakm2", "armed_forces_size", "co2-emissions", "gdp", "population", "urban_population", "densityp/km2", "cpi"]

In [17]:
for col in lista_columnas:
    df_world[col] = df_world[col].apply(cambiar_numerico)

In [20]:
df_world["armed_forces_size"].dtype

dtype('float64')

In [21]:
df_world

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60.0,AF,58.1,652230.000,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,38041.754,48.9,9.3,71.4,11.12,9797.273,('33.93911 ','67.709953')
1,Albania,105.0,AL,43.1,28748.000,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90%,1.20,2854.191,55.7,18.6,36.6,12.33,1747.593,('41.153332 ','20.168331')
2,Algeria,18.0,DZ,17.4,2381.741,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10%,1.72,43053.054,41.2,37.2,66.1,11.70,31510.100,('28.033886 ','1.659626')
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40%,3.33,77142.000,NaN,NaN,NaN,NaN,67873.000,('42.506285 ','1.521801')
4,Angola,26.0,AO,47.5,1246.700,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,NaN,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40%,0.21,31825.295,77.5,9.2,49.1,6.89,21061.025,('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912050.000,343000.0,17.88,58.0,Caracas,164175.0,2740.27,254.9,VED,2.27,52.7,0.00,NaN,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80%,1.92,28515.829,59.7,NaN,73.3,8.80,25162.368,('6.42375 ','-66.58973')
191,Vietnam,314.0,VN,39.3,331210.000,522000.0,16.75,84.0,Hanoi,192668.0,163.52,2.8,VND,2.05,48.1,0.80,NaN,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50%,0.82,96462.106,77.4,19.1,37.6,2.01,35332.140,('14.058324 ','108.277199')
192,Yemen,56.0,YE,44.6,527968.000,40000.0,30.45,967.0,Sanaa,10609.0,157.58,8.1,YER,3.79,1.0,0.92,NaN,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,29161.922,38.0,NaN,26.6,12.91,10869.523,('15.552727 ','48.516388')
193,Zambia,25.0,ZM,32.1,752618.000,16000.0,36.19,260.0,Lusaka,5141.0,212.31,9.2,ZMW,4.63,65.2,1.40,NaN,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.50%,1.19,17861.030,74.6,16.2,15.6,11.43,7871.713,('-13.133897 ','27.849332')
194,Zimbabwe,38.0,ZW,41.9,390757.000,51000.0,30.68,263.0,Harare,10983.0,105.51,0.9,NaN,3.62,35.5,1.34,NaN,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,14645.468,83.1,20.7,31.6,4.95,4717.305,('-19.015438 ','29.154857')

In [22]:
df_world.columns

Index(['country', 'densityp/km2', 'abbreviation', 'agricultural_land_%',
       'land_areakm2', 'armed_forces_size', 'birth_rate', 'calling_code',
       'capital/major_city', 'co2-emissions', 'cpi', 'cpi_change_%',
       'currency-code', 'fertility_rate', 'forested_area_%', 'gasoline_price',
       'gdp', 'gross_primary_education_enrollment_%',
       'gross_tertiary_education_enrollment_%', 'infant_mortality',
       'largest_city', 'life_expectancy', 'maternal_mortality_ratio',
       'minimum_wage', 'official_language', 'out_of_pocket_health_expenditure',
       'physicians_per_thousand', 'population',
       'population_labor_force_participation_%', 'tax_revenue_%',
       'total_tax_rate', 'unemployment_rate', 'urban_population', 'latitude',
       'longitude'],
      dtype='object')

In [29]:
df_world["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'S�����������', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand',
       'East Timor', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [30]:
df_filtrado = df_world[df_world['country'].str.startswith('S')]
df_filtrado

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
145,Saint Kitts and Nevis,205.0,KN,23.1,261.000,NaN,12.60,1.0,Basseterre,238.0,104.57,-1.0,XCD,2.11,42.3,NaN,NaN,108.7,86.7,9.8,Basseterre,71.3,NaN,3.33,English,56.60%,2.52,52823.000,NaN,18.5,49.7,NaN,16269.000,('17.357822 ','-62.782998')
146,Saint Lucia,301.0,LC,17.4,616.000,NaN,12.00,1.0,Castries,414.0,110.13,1.9,XCD,1.44,33.2,1.30,NaN,102.6,14.1,14.9,Castries,76.1,117.0,NaN,English,48.40%,0.64,182790.000,67.1,18.2,34.7,20.71,34280.000,('13.909444 ','-60.978893')
147,Saint Vincent and the Grenadines,284.0,VC,25.6,389.000,NaN,14.24,1.0,Kingstown,220.0,109.67,2.3,XCD,1.89,69.2,NaN,825385.185,113.4,23.7,14.8,Calliaqua,72.4,68.0,1.16,English,21.40%,0.66,100455.000,65.9,25.4,37.0,18.88,58185.000,('12.984305 ','-61.287228')
148,Samoa,70.0,WS,12.4,2831.000,NaN,24.38,685.0,Apia,246.0,117.56,1.0,WST,3.88,60.4,0.91,850655.017,110.5,7.6,13.6,Apia,73.2,43.0,0.78,Samoan,11.50%,0.34,202506.000,43.7,25.5,19.3,8.36,35588.000,('-13.759029 ','-172.104629')
149,San Marino,566.0,SM,16.7,61.000,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.0,EUR,1.26,0.0,NaN,NaN,108.1,42.5,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.30%,6.11,33860.000,NaN,18.1,36.2,NaN,32969.000,('43.94236 ','12.457777')
150,S�����������,228.0,ST,50.7,964.000,1000.0,31.54,239.0,S����,121.0,185.09,7.9,STN,4.32,55.8,NaN,429016.605,106.8,13.4,24.4,S����,70.2,130.0,NaN,NaN,11.70%,0.05,215056.000,57.8,14.6,37.0,13.37,158277.000,('nan ','nan')
151,Saudi Arabia,16.0,SA,80.8,2149.690,252000.0,17.80,966.0,Riyadh,563449.0,118.40,-1.2,SAR,2.32,0.5,0.24,NaN,99.8,68.0,6.0,Riyadh,75.0,17.0,3.85,Arabic,15.00%,2.61,34268.528,55.9,8.9,15.7,5.93,28807.838,('23.885942 ','45.079162')
152,Senegal,87.0,SN,46.1,196722.000,19000.0,34.52,221.0,Dakar,10902.0,109.25,1.8,XOF,4.63,42.8,1.14,NaN,81.0,12.8,31.8,Pikine,67.7,315.0,0.31,French,44.20%,0.07,16296.364,45.7,16.3,44.8,6.60,7765.706,('14.497401 ','-14.452362')
153,Serbia,100.0,RS,39.3,77474.000,32000.0,9.20,381.0,Belgrade,45221.0,144.00,1.8,RSD,1.49,31.1,1.16,NaN,100.3,67.2,4.8,Belgrade,75.5,12.0,1.57,Serbian,40.60%,3.11,6944.975,54.9,18.6,36.6,12.69,3907.243,('44.016521 ','21.005859')
154,Seychelles,214.0,SC,3.4,455.000,0.0,17.10,248.0,"Victoria, Seychelles",605.0,129.96,1.8,SCR,2.41,88.4,NaN,NaN,100.4,17.1,12.4,"Victoria, Seychelles",72.8,53.0,2.00,French,2.50%,0.95,97625.000,NaN,34.1,30.1,NaN,55762.000,('-4.679574 ','55.491977')
155,Sierra Leone,111.0,SL,54.7,71740.000,9000.0,33.41,232.0,Freetown,1093.0,234.16,14.8,SLL,4.26,43.1,1.08,NaN,112.8,2.0,78.5,Freetown,54.3,1120.0,0.57,English,38.20%,0.03,7813.215,57.9,8.6,30.7,4.43,3319.366,('8.460555 ','-11.779889')
156,Singapore,8358.0,SG,0.9,716.000,81000.0,8.80,65.0,NaN,37535.0,114.41,0.6,SGD,1.14,23.1,1.25,NaN,100.6,84.8,2.3,NaN,83.1,8.0,NaN,Malay,36.70%,2.29,5703.569,70.5,13.1,21.0,4.11,5703.569,('1.352083 ','103.819836')
157,Slovakia,114.0,SK,39.2,49035.000,16000.0,10.60,421.0,Bratislava,32424.0,115.34,2.7,EUR,1.52,40.4,1.32,NaN,98.7,46.6,4.6,Bratislava,77.2,5.0,3.11,Slovak,18.40%,3.42,5454.073,59.5,18.7,49.7,5.56,2930.419,('48.669026 ','19.699024')
158,Slovenia,103.0,SI,30.7,20273.000,7000.0,9.40,386.0,Ljubljana,12633.0,111.05,1.6,EUR,1.60,62.0,1.32,NaN,100.4,78.6,1.7,Ljubljana,81.0,7.0,5.25,Slovene language,12.50%,3.09,2087.946,58.4,18.6,31.0,4.20,1144.654,('46.151241 ','14.995463')
159,Solomon Islands,25.0,SB,3.9,28896.000,NaN,32.44,677.0,Honiara,169.0,133.06,1.6,SBD,4.40,77.9,NaN,NaN,106.2,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.30%,0.19,669823.000,83.8,29.5,32.0,0.58,162164.000,('-9.64571 ','160.156194')
160,Somalia,25.0,SO,70.3,637657.000,20000.0,41.75,252.0,Mogadishu,645.0,NaN,NaN,SOS,6.07,10.0,1.41,NaN,23.4,2.5,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,15442.905,47.4,0.0,NaN,11.35,7034.861,('5.152149 ','46.199616')
161,South Africa,49.0,ZA,79.8,1219.090,80000.0,20.51,27.0,Pretoria,476644.0,158.93,4.1,ZAR,2.41,7.6,0.92,NaN,100.9,22.4,28.5,Johannesburg,63.9,119.0,NaN,Afrikaans,7.70%,0.91,58558.270,56.0,27.5,29.2,28.18,39149.717,('-30.559482 ','22.937506')
162,South Korea,527.0,KR,17.4,99720.000,634000.0,6.40,82.0,Seoul,620302.0,115.16,0.4,KRW,0.98,63.4,1.22,NaN,98.1,94.3,2.7,Seoul,82.6,11.0,6.49,Korean,36.80%,2.36,51709.098,63.0,15.6,33.2,4.15,42106.719,('35.907757 ','127.766922')
163,South Sudan,18.0,SS,NaN,644329.000,185000.0,35.01,211.0,Juba,1727.0,4583.71,187.9,SSP,4.70,NaN,0.28,NaN,73.0,NaN,63.7,Juba,57.6,1150.0,NaN,English,61.30%,NaN,11062.113,72.4,NaN,31.4,12.24,2201.250,('6.8769919 ','31.3069788')
164,Spain,94.0,ES,52.6,505370.000,196000.0,7.90,34.0,Madrid,244002.0,110.96,0.7,EUR,1.26,36.9,1.26,NaN,102.7,88.9,2.5,Madrid,83.3,4.0,5.60,Spanish,24.20%,3.87,47076.781,57.5,14.2,47.0,13.96,37927.409,('40.463667 ','-3.74922')
165,Sri Lanka,341.0,LK,43.7,65610.000,317000.0,15.83,94.0,Colombo,23362.0,155.53,3.5,LKR,2.20,32.9,0.88,NaN,100.2,19.6,6.4,Colombo,76.8,36.0,0.35,Tamil,38.40%,1.00,21803.000,53.9,11.9,55.2,4.20,4052.088,('7.873054 ','80.771797')
166,Sudan,25.0,SD,28.7,1861.484,124000.0,32.18,249.0,Khartoum,20000.0,1344.19,51.0,SDG,4.41,8.1,0.95,NaN,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20%,0.26,42813.238,48.4,8.0,45.4,16.53,14957.233,('12.862807 ','30.217636')
167,Suriname,4.0,SR,0.6,163820.000,2000.0,18.54,597.0,Paramaribo,1738.0,294.66,22.0,SRD,2.42,98.3,1.29,NaN,108.8,12.6,16.9,Paramaribo,71.6,120.0,NaN,Dutch,10.10%,1.21,581372.000,51.1,19.5,27.9,7.33,384258.000,('3.919305 ','-56.027783')
168,Sweden,25.0,SE,7.4,450295.000,30000.0,11.40,46.0,Stockholm,43252.0,110.51,1.8,SEK,1.76,68.9,1.42,NaN,126.6,67.0,2.2,S�����,82.5,4.0,NaN,Swedish,15.20%,3.98,10285.453,64.6,27.9,49.1,6.48,9021.165,('60.128161 ','18.643501')
169,Switzerland,219.0,CH,38.4,41277.000,21000.0,10.00,41.0,Bern,34477.0,99.55,0.4,CHF,1.52,31.8,1.45,NaN,105.2,59.6,3.7,Z���,83.6,5.0,NaN,German,28.30%,4.30,8574.832,68.3,10.1,28.8,4.58,6332.428,('46.818188 ','8.227512')
170,Syria,95.0,SY,75.8,185180.000,239000.0,23.69,963.0,Damascus,28830.0,143.20,36.7,SYP,2.81,2.7,0.83,NaN,81.7,40.1,14.0,Damascus,71.8,31.0,1.02,Arabic,53.70%,1.22,17070.135,44.1,14.2,42.7,8.37,9358.019,('34.802075 ','38.996815')

In [31]:
cambiar_fila_150 = 150

nuevos_cambios = {"country": "Santo Tomé y Príncipe", "capital/major_city": "Santo Tomé" , "largest_city":"Santo Tomé"}

In [32]:
df_world.loc[cambiar_fila_150,nuevos_cambios.keys()] = nuevos_cambios.values()

In [36]:
df_filtrado = df_world[df_world['country'].str.startswith('S')]
df_filtrado

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
145,Saint Kitts and Nevis,205.0,KN,23.1,261.000,NaN,12.60,1.0,Basseterre,238.0,104.57,-1.0,XCD,2.11,42.3,NaN,NaN,108.7,86.7,9.8,Basseterre,71.3,NaN,3.33,English,56.60%,2.52,52823.000,NaN,18.5,49.7,NaN,16269.000,('17.357822 ','-62.782998')
146,Saint Lucia,301.0,LC,17.4,616.000,NaN,12.00,1.0,Castries,414.0,110.13,1.9,XCD,1.44,33.2,1.30,NaN,102.6,14.1,14.9,Castries,76.1,117.0,NaN,English,48.40%,0.64,182790.000,67.1,18.2,34.7,20.71,34280.000,('13.909444 ','-60.978893')
147,Saint Vincent and the Grenadines,284.0,VC,25.6,389.000,NaN,14.24,1.0,Kingstown,220.0,109.67,2.3,XCD,1.89,69.2,NaN,825385.185,113.4,23.7,14.8,Calliaqua,72.4,68.0,1.16,English,21.40%,0.66,100455.000,65.9,25.4,37.0,18.88,58185.000,('12.984305 ','-61.287228')
148,Samoa,70.0,WS,12.4,2831.000,NaN,24.38,685.0,Apia,246.0,117.56,1.0,WST,3.88,60.4,0.91,850655.017,110.5,7.6,13.6,Apia,73.2,43.0,0.78,Samoan,11.50%,0.34,202506.000,43.7,25.5,19.3,8.36,35588.000,('-13.759029 ','-172.104629')
149,San Marino,566.0,SM,16.7,61.000,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.0,EUR,1.26,0.0,NaN,NaN,108.1,42.5,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.30%,6.11,33860.000,NaN,18.1,36.2,NaN,32969.000,('43.94236 ','12.457777')
150,Santo Tomé y Príncipe,228.0,ST,50.7,964.000,1000.0,31.54,239.0,Santo Tomé,121.0,185.09,7.9,STN,4.32,55.8,NaN,429016.605,106.8,13.4,24.4,Santo Tomé,70.2,130.0,NaN,NaN,11.70%,0.05,215056.000,57.8,14.6,37.0,13.37,158277.000,('nan ','nan')
151,Saudi Arabia,16.0,SA,80.8,2149.690,252000.0,17.80,966.0,Riyadh,563449.0,118.40,-1.2,SAR,2.32,0.5,0.24,NaN,99.8,68.0,6.0,Riyadh,75.0,17.0,3.85,Arabic,15.00%,2.61,34268.528,55.9,8.9,15.7,5.93,28807.838,('23.885942 ','45.079162')
152,Senegal,87.0,SN,46.1,196722.000,19000.0,34.52,221.0,Dakar,10902.0,109.25,1.8,XOF,4.63,42.8,1.14,NaN,81.0,12.8,31.8,Pikine,67.7,315.0,0.31,French,44.20%,0.07,16296.364,45.7,16.3,44.8,6.60,7765.706,('14.497401 ','-14.452362')
153,Serbia,100.0,RS,39.3,77474.000,32000.0,9.20,381.0,Belgrade,45221.0,144.00,1.8,RSD,1.49,31.1,1.16,NaN,100.3,67.2,4.8,Belgrade,75.5,12.0,1.57,Serbian,40.60%,3.11,6944.975,54.9,18.6,36.6,12.69,3907.243,('44.016521 ','21.005859')
154,Seychelles,214.0,SC,3.4,455.000,0.0,17.10,248.0,"Victoria, Seychelles",605.0,129.96,1.8,SCR,2.41,88.4,NaN,NaN,100.4,17.1,12.4,"Victoria, Seychelles",72.8,53.0,2.00,French,2.50%,0.95,97625.000,NaN,34.1,30.1,NaN,55762.000,('-4.679574 ','55.491977')
155,Sierra Leone,111.0,SL,54.7,71740.000,9000.0,33.41,232.0,Freetown,1093.0,234.16,14.8,SLL,4.26,43.1,1.08,NaN,112.8,2.0,78.5,Freetown,54.3,1120.0,0.57,English,38.20%,0.03,7813.215,57.9,8.6,30.7,4.43,3319.366,('8.460555 ','-11.779889')
156,Singapore,8358.0,SG,0.9,716.000,81000.0,8.80,65.0,NaN,37535.0,114.41,0.6,SGD,1.14,23.1,1.25,NaN,100.6,84.8,2.3,NaN,83.1,8.0,NaN,Malay,36.70%,2.29,5703.569,70.5,13.1,21.0,4.11,5703.569,('1.352083 ','103.819836')
157,Slovakia,114.0,SK,39.2,49035.000,16000.0,10.60,421.0,Bratislava,32424.0,115.34,2.7,EUR,1.52,40.4,1.32,NaN,98.7,46.6,4.6,Bratislava,77.2,5.0,3.11,Slovak,18.40%,3.42,5454.073,59.5,18.7,49.7,5.56,2930.419,('48.669026 ','19.699024')
158,Slovenia,103.0,SI,30.7,20273.000,7000.0,9.40,386.0,Ljubljana,12633.0,111.05,1.6,EUR,1.60,62.0,1.32,NaN,100.4,78.6,1.7,Ljubljana,81.0,7.0,5.25,Slovene language,12.50%,3.09,2087.946,58.4,18.6,31.0,4.20,1144.654,('46.151241 ','14.995463')
159,Solomon Islands,25.0,SB,3.9,28896.000,NaN,32.44,677.0,Honiara,169.0,133.06,1.6,SBD,4.40,77.9,NaN,NaN,106.2,NaN,17.1,Honiara,72.8,104.0,0.40,English,3.30%,0.19,669823.000,83.8,29.5,32.0,0.58,162164.000,('-9.64571 ','160.156194')
160,Somalia,25.0,SO,70.3,637657.000,20000.0,41.75,252.0,Mogadishu,645.0,NaN,NaN,SOS,6.07,10.0,1.41,NaN,23.4,2.5,76.6,Bosaso,57.1,829.0,NaN,Arabic,NaN,0.02,15442.905,47.4,0.0,NaN,11.35,7034.861,('5.152149 ','46.199616')
161,South Africa,49.0,ZA,79.8,1219.090,80000.0,20.51,27.0,Pretoria,476644.0,158.93,4.1,ZAR,2.41,7.6,0.92,NaN,100.9,22.4,28.5,Johannesburg,63.9,119.0,NaN,Afrikaans,7.70%,0.91,58558.270,56.0,27.5,29.2,28.18,39149.717,('-30.559482 ','22.937506')
162,South Korea,527.0,KR,17.4,99720.000,634000.0,6.40,82.0,Seoul,620302.0,115.16,0.4,KRW,0.98,63.4,1.22,NaN,98.1,94.3,2.7,Seoul,82.6,11.0,6.49,Korean,36.80%,2.36,51709.098,63.0,15.6,33.2,4.15,42106.719,('35.907757 ','127.766922')
163,South Sudan,18.0,SS,NaN,644329.000,185000.0,35.01,211.0,Juba,1727.0,4583.71,187.9,SSP,4.70,NaN,0.28,NaN,73.0,NaN,63.7,Juba,57.6,1150.0,NaN,English,61.30%,NaN,11062.113,72.4,NaN,31.4,12.24,2201.250,('6.8769919 ','31.3069788')
164,Spain,94.0,ES,52.6,505370.000,196000.0,7.90,34.0,Madrid,244002.0,110.96,0.7,EUR,1.26,36.9,1.26,NaN,102.7,88.9,2.5,Madrid,83.3,4.0,5.60,Spanish,24.20%,3.87,47076.781,57.5,14.2,47.0,13.96,37927.409,('40.463667 ','-3.74922')
165,Sri Lanka,341.0,LK,43.7,65610.000,317000.0,15.83,94.0,Colombo,23362.0,155.53,3.5,LKR,2.20,32.9,0.88,NaN,100.2,19.6,6.4,Colombo,76.8,36.0,0.35,Tamil,38.40%,1.00,21803.000,53.9,11.9,55.2,4.20,4052.088,('7.873054 ','80.771797')
166,Sudan,25.0,SD,28.7,1861.484,124000.0,32.18,249.0,Khartoum,20000.0,1344.19,51.0,SDG,4.41,8.1,0.95,NaN,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.20%,0.26,42813.238,48.4,8.0,45.4,16.53,14957.233,('12.862807 ','30.217636')
167,Suriname,4.0,SR,0.6,163820.000,2000.0,18.54,597.0,Paramaribo,1738.0,294.66,22.0,SRD,2.42,98.3,1.29,NaN,108.8,12.6,16.9,Paramaribo,71.6,120.0,NaN,Dutch,10.10%,1.21,581372.000,51.1,19.5,27.9,7.33,384258.000,('3.919305 ','-56.027783')
168,Sweden,25.0,SE,7.4,450295.000,30000.0,11.40,46.0,Stockholm,43252.0,110.51,1.8,SEK,1.76,68.9,1.42,NaN,126.6,67.0,2.2,S�����,82.5,4.0,NaN,Swedish,15.20%,3.98,10285.453,64.6,27.9,49.1,6.48,9021.165,('60.128161 ','18.643501')
169,Switzerland,219.0,CH,38.4,41277.000,21000.0,10.00,41.0,Bern,34477.0,99.55,0.4,CHF,1.52,31.8,1.45,NaN,105.2,59.6,3.7,Z���,83.6,5.0,NaN,German,28.30%,4.30,8574.832,68.3,10.1,28.8,4.58,6332.428,('46.818188 ','8.227512')
170,Syria,95.0,SY,75.8,185180.000,239000.0,23.69,963.0,Damascus,28830.0,143.20,36.7,SYP,2.81,2.7,0.83,NaN,81.7,40.1,14.0,Damascus,71.8,31.0,1.02,Arabic,53.70%,1.22,17070.135,44.1,14.2,42.7,8.37,9358.019,('34.802075 ','38.996815')

In [37]:
df_world["country"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'The Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Ivory Coast',
       'Cape Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Republic of the Congo', 'Costa Rica', 'Croatia',
       'Cuba', 'Cyprus', 'Czech Republic',
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'The Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Vatican City', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Republic of Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Federated States of Micronesia', 'Moldova', 'Monaco',
       'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'North Korea', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau',
       'Palestinian National Authority', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',
       'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Santo Tomé y Príncipe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Tajikistan',
       'Tanzania', 'Thailand', 'East Timor', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [ ]:
# Diccionario Continentes 

continentes_paises = {
    'África': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Santo Tomé y Príncipe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'América': ['Antigua and Barbuda', 'Argentina', 'The Bahamas', 'Barbados', 'Belize', 'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay', 'Venezuela'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europa': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City'],
    'Oceanía': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

# Imprimir el diccionario
for continente, paises in continentes_paises.items():
    print(continente + ':')
    print(paises)
    print()

In [ ]:

continentes_paises = {
    'África': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Santo Tomé y Príncipe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'América': ['Antigua and Barbuda', 'Argentina', 'The Bahamas', 'Barbados', 'Belize', 'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay', 'Venezuela'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europa': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City'],
    'Oceanía': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}

In [60]:
def asignar_continentes(pais):

    continentes_paises = {
    'África': ['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Republic of the Congo', 'Democratic Republic of the Congo', 'Djibouti', 'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Gabon', 'The Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Ivory Coast', 'Kenya', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Santo Tomé y Príncipe', 'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania', 'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe'],
    'América': ['Antigua and Barbuda', 'Argentina', 'The Bahamas', 'Barbados', 'Belize', 'Bolivia', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', 'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador', 'Grenada', 'Guatemala', 'Guyana', 'Haiti', 'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Trinidad and Tobago', 'United States', 'Uruguay', 'Venezuela'],
    'Asia': ['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Bhutan', 'Brunei', 'Cambodia', 'China', 'Cyprus', 'East Timor', 'Georgia', 'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan', 'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal', 'North Korea', 'Oman', 'Pakistan', 'Palestine', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka', 'Syria', 'Tajikistan', 'Thailand', 'Turkey', 'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam', 'Yemen'],
    'Europa': ['Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy', 'Kosovo', 'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta', 'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia', 'Norway', 'Poland', 'Portugal', 'Romania', 'San Marino', 'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Ukraine', 'United Kingdom', 'Vatican City'],
    'Oceanía': ['Australia', 'Fiji', 'Kiribati', 'Marshall Islands', 'Micronesia', 'Nauru', 'New Zealand', 'Palau', 'Papua New Guinea', 'Samoa', 'Solomon Islands', 'Tonga', 'Tuvalu', 'Vanuatu']
}
     
    for continente, lista_paises in continentes_paises.items():
        if pais in lista_paises:
            return continente
    return "Desconocido"

In [61]:
df_world['Continent'] = df_world['country'].apply(asignar_continentes)

In [62]:
df_world['Continent']

0         Asia
1       Europa
2       África
3       Europa
4       África
        ...
190    América
191       Asia
192       Asia
193     África
194     África
Name: Continent, Length: 195, dtype: object

In [63]:
df_world

,country,densityp/km2,abbreviation,agricultural_land_%,land_areakm2,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change_%,currency-code,fertility_rate,forested_area_%,gasoline_price,gdp,gross_primary_education_enrollment_%,gross_tertiary_education_enrollment_%,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation_%,tax_revenue_%,total_tax_rate,unemployment_rate,urban_population,latitude,longitude,Continent
0,Afghanistan,60.0,AF,58.1,652230.000,323000.0,32.49,93.0,Kabul,8672.0,149.90,2.3,AFN,4.47,2.1,0.70,NaN,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.40%,0.28,38041.754,48.9,9.3,71.4,11.12,9797.273,('33.93911 ','67.709953'),Asia
1,Albania,105.0,AL,43.1,28748.000,9000.0,11.78,355.0,Tirana,4536.0,119.05,1.4,ALL,1.62,28.1,1.36,NaN,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.90%,1.20,2854.191,55.7,18.6,36.6,12.33,1747.593,('41.153332 ','20.168331'),Europa
2,Algeria,18.0,DZ,17.4,2381.741,317000.0,24.28,213.0,Algiers,150006.0,151.36,2.0,DZD,3.02,0.8,0.28,NaN,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.10%,1.72,43053.054,41.2,37.2,66.1,11.70,31510.100,('28.033886 ','1.659626'),África
3,Andorra,164.0,AD,40.0,468.000,NaN,7.20,376.0,Andorra la Vella,469.0,NaN,NaN,EUR,1.27,34.0,1.51,NaN,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.40%,3.33,77142.000,NaN,NaN,NaN,NaN,67873.000,('42.506285 ','1.521801'),Europa
4,Angola,26.0,AO,47.5,1246.700,117000.0,40.73,244.0,Luanda,34693.0,261.73,17.1,AOA,5.52,46.3,0.97,NaN,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.40%,0.21,31825.295,77.5,9.2,49.1,6.89,21061.025,('-11.202692 ','17.873887'),África
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32.0,VE,24.5,912050.000,343000.0,17.88,58.0,Caracas,164175.0,2740.27,254.9,VED,2.27,52.7,0.00,NaN,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.80%,1.92,28515.829,59.7,NaN,73.3,8.80,25162.368,('6.42375 ','-66.58973'),América
191,Vietnam,314.0,VN,39.3,331210.000,522000.0,16.75,84.0,Hanoi,192668.0,163.52,2.8,VND,2.05,48.1,0.80,NaN,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.50%,0.82,96462.106,77.4,19.1,37.6,2.01,35332.140,('14.058324 ','108.277199'),Asia
192,Yemen,56.0,YE,44.6,527968.000,40000.0,30.45,967.0,Sanaa,10609.0,157.58,8.1,YER,3.79,1.0,0.92,NaN,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,29161.922,38.0,NaN,26.6,12.91,10869.523,('15.552727 ','48.516388'),Asia
193,Zambia,25.0,ZM,32.1,752618.000,16000.0,36.19,260.0,Lusaka,5141.0,212.31,9.2,ZMW,4.63,65.2,1.40,NaN,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.50%,1.19,17861.030,74.6,16.2,15.6,11.43,7871.713,('-13.133897 ','27.849332'),África
194,Zimbabwe,38.0,ZW,41.9,390757.000,51000.0,30.68,263.0,Harare,10983.0,105.51,0.9,NaN,3.62,35.5,1.34,NaN,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,14645.468,83.1,20.7,31.6,4.95,4717.305,('-19.015438 ','29.154857'),África

In [ ]:
# Guarda el DataFrame después de los cambios creados después de los dos ejercicios anteriores para usarlo en el pairprogramming de mañana.


2- ¿Cuál es la esperanza de vida promedio por idioma oficial? Agrupa los países por idioma oficial y calcula la esperanza de vida promedio.

In [ ]:
# official_language
# life_expectancy
# promedio - mean()

esperanza_idioma = df_world.groupby("official_language")[""]